.page-header {
  background-image: 
    linear-gradient(rgba(21, 179, 150, 0.9), rgba(24, 84, 187, 0.9)), /* transparent overlay */
    url('/assets/images/The_Fall_of_the_Rebel_Angels.jpg') !important;                    /* your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

body {
  background-image: url('/assets/images/Court_of_Qyumars_Cropped.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main-content {
  background-color: rgba(255, 255, 255, 0.9); /* 90% opaque white layer */
  padding: 2rem;
  border-radius: 12px;
}