.page-header {
  background-image:
    linear-gradient(120deg, rgba(21,87,153,0.7), rgba(21,153,87,0.7)), /* transparent overlay */
    url('/assets/images/The_Fall_of_the_Rebel_Angels.jpg');                    /* your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

body {
  background-image: url('/assets/images/Court_of_Qyumars_Cropped.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main-content {
  background-color: rgba(255, 255, 255, 0.9); /* 90% opaque white layer */
  padding: 2rem;
  border-radius: 12px;
}